<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="repoReader" class="com.eggs.impl.CsvFileMenuRepositoryReader" >
		<constructor-arg value="karcsi"/>
	</bean>
	
	<bean id="memoryReader" class="com.eggs.impl.InmemoryMenuRepositoryReader"></bean>
	
	<bean id="printer" class="com.eggs.impl.ConsoleMenuPrinter">
		<constructor-arg ref="memoryReader"/>
	</bean>
	
	
</beans>
