<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
    >

    <context:component-scan base-package="com.eggs" />
    <context:property-placeholder location="classpath:breakfast.properties"/>		
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" p:basename="headers" />	

    <beans profile="default">
      <bean class="com.eggs.console.ConsoleMenuPrinter" />
      <bean  class="com.eggs.impl.InmemoryMenuRepository" /> 
    </beans>
    
    <beans profile="ascii">
      <bean class="com.eggs.ascii.AsciiArtPrinter" />
      <bean class="com.eggs.impl.YamlFileMenuRepository"></bean>
    </beans>
	
</beans>
